@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Establecer el color de fondo de la sección en #040714. */
section{
    background-color: #040714;
}

/* Aqui es todo el encabezado de la pagina */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    transition: all 0.4s ease-out;
}
.add{
    background-color: #040714;
}
header.add img,
header.add .suscripcion{
    opacity: 1;
}
header img{
    width: 80px;
    margin-left: 55px;
    opacity: 0;
}
.btn{
    height: 50px;
    width: 180px;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,.8);
    color: #ffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
header>div{
    margin: 10px 0;
}
.suscripcion{
    background: #0063e5;
    width: 215px;
    opacity: 0;
}
.iniciar{
    border: 1px solid #ffff;
    right: 0;
    margin: 0 41px 0 10px; 
    transition: all 0.1s ease-in;
}
.iniciar:hover{
    background-color: #ffff;
    color: #000;
}
.suscripcion:hover{
    background: #126ce2;
}


/* Parte de inicio */
#Inicio{
    background: url(./img/Desk.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    }

#Inicio{
    display: flex;
    flex-direction: column;
    
}
#Inicio .Conte{
    position: relative;
    max-width: 640px;
    left: 86px;
    top: 88px;
    text-align: center;
}
#Inicio .Conte h1{
    color: #ffff;
    font-weight: 600;
    font-size:1.8rem;
    font-weight: 500;
    line-height: 30px;
}

.Conte>img{
    width: 320px;
    margin:40px 0 27px 0;
}
.Conte .Opcion{
    display: flex;
    justify-content: space-between;
    gap: 19px;
    margin-bottom: 10px;
}
.Opcion>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.Opcion picture{
    width: 240px;
    display: block;
    margin: auto;
}
.Opcion .Combo{
    max-width: 130px;
}
.Opcion picture img{
    width: 100%;
    margin: 40px 0 30px 0;
}
.Opcion div button{
    width: 100%;
    height: 60px;
    padding: 11.5px 24px;
    cursor: pointer;
    border-radius: 5px;
    background: #6421ff;
    border: none;
    font-size: 1.2rem;
    color: #ffff;
}
.Opcion button:hover,.Planes button:hover{
    background: #692ef3;
}
.Tipo_suspcrip>a{
    margin: 12px 0;
    color: #ffff;
    cursor:pointer;
    font-size: 16px;
    line-height: 28px;
}
.Conte .Tipo_suspcrip{
    margin: 31px 0;
    display: flex;
    flex-direction: column;
}



/* -----------Vistas------------------------------------------------- */
/* Esta es la seccion de vistas  */
.Vistas{
    margin-top: 80px;
    margin-bottom: 250px;
}
.Vistas ul li{
    display: inline-block;
    margin: 50px 12px;
}
.Vistas ul{
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 21px;
    font-weight: 100;
    line-height: 0%;
    position: relative;
    cursor: pointer;
}
ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    top:calc(100% + 4px);
    width: 100%;
    height:5px;
    background-color: #ffff;
    opacity: 0;
}
ul li a.select::after{
    opacity: 1;
}

.Vistas ._imgenes{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 25px;
    padding: 10px;
}
._imgenes img{
    width: 100%;
    border-radius: 5px;
}
.Ocultar{
    display: none;
}

/* --------------PLANES---------------------------------- */
.Elige{
    margin-top: 250px;
    width: 90%;
    margin: auto;
}
.Elige{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 150px;
}
#Plan>.title{
    width: 100%;
    text-align: center;
}
#Plan .title h1{
    color: #ffff;
    font-size: 45px;
    font-weight: 500;
}
.plan h3, .plan p{
    color: white;
}
.plan h3{
    font-size: 28px;
    padding-top: 30px;
}
.plan p{
    font-size: 18px;
    line-height: 28px;
    color: silver;
    width: 75%;
    margin: auto;
}

.Combo div{
    background-image: url(./img/Planes/Plan_com_back.png);
    background-repeat: no-repeat ;
    background-size: contain;
}
.plan{
    text-align: center;
    padding: 0 40px;
    height: 500px;
    margin-top: 35px;
}

.plan img {
    width: 300px;
    padding-top: 60px;
}

.plan button{
    cursor: pointer;
    border-radius: 5px;
    background: #6421ff;
    border: none;
    font-size: 1.2rem;
    color: #ffff;
    margin-top: 25px; 
    height: 60px;
    margin-bottom: 20px;
    padding: 0 58px;
}


/* ----------------PANTALLA----------------------------------------------- */
.Pantalla {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,auto);
    
}
.Pantalla img{
    width: 680px;
    margin-left: 10px;
}
.Pantalla .conte{
    place-self: center;
    color: silver;
    font-size: 20px;
    line-height: 30px;
    padding: 0 70px 0 34px;
}
.conte h2{
    color: #ffff;
    font-size: 40px;
    margin-bottom: 30px;
}

/* --------------DESCARGAS---------------------------------- */
.Descarga{
    width: 90%;
    margin: auto;
}
.Descarga .conte-des{
    margin: 10px;
    background: url(./img/Des.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    max-height: 800px;
}
.Descarga .conte-des div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffff;
    width: 650px;
    height: 758px;
}
.Descarga div p{
    font-size: 17.5px;
    line-height: 28px;
    color: silver;
    font-weight: 400;
    letter-spacing: .2px;
}
.Descarga div h2{
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: normal;
    margin: 0 0 20px 0;
}

/* --------------DISPOSITIVOS---------------------------------- */
.Dispositovos{
    margin: 220px 0;
    height: 100vh;

}
.Dispositovos .conte-Dis{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #ffff;
    text-align: center;
}
.Dispositovos img{
    place-self: center;
    width: 90%;
}
.Dispositovos h1{
    text-align: center;
    color:#ffff;
    margin-bottom: 20px;
    font-size: 41px;
    font-weight: 500;
}
.conte-Dis h2{
    font-size: 28px;
    margin: 20px 0 25px 0;
}
.conte-Dis li{
    list-style: none;
    color:silver;
    margin: 8px 0;
    font-size: 18px;
}
/* --------------PREGUNTAS---------------------------------- */
.Preguntas {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;

}
.Preguntas h1{
    text-align: center;
    color: #ffff;
    font-size: 40px;
    margin: 20px 0;
}
.Preguntas div{
    background-color: #13151d;
    padding: 25px 20px;
    margin: 15px 10px;
    cursor: pointer;
    position:unset;

}

.Preguntas div p{
    font-size: 20px;
    color: silver;
    /* background-color: #0063e5; */
    position: relative;
}
.Preguntas div p::after{
    content: '';
    position: absolute;
    left: calc(100% - 18px);
    top:-2px;
    width: 2.5px;
    height: 22px;
    background-color: #ffff;
}
.Preguntas div p::before{
    content: '';
    position: absolute;
    left: calc(100% - 28px);
    top: 8px;
    width: 22px;
    height: 2.5px;
    background-color: #ffff;
}

/* --------------FOOTER---------------------------------- */
footer{
    background-color: #040714;
    text-align: center;
    padding: 25px 5px;
}
footer img{
    width: 80px;
    
}
footer div{
    margin: 21px 0;
    
}
footer p, footer a{
    font-size: 12px;
    line-height: 22px;
    color: silver;
    letter-spacing: .4px;
}
footer a{
    text-decoration: none;
    margin: 0 13px;
}